h1 {
    font-family: Eve;
    color: #FF0000;
    font-size:35pt;
    text-align:left;
   }
   body {
    background-color:lightgrey;
    color: blue;
    font-family: Eve;
    color:blue;
    font-size:20pt;
    text-align:left;
   }
li
{
color:yellow;
font-size:30pt;
}
header
{
color:black;
font-size:30pt;
}